body.index,
.index * {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.index iframe {
    width: 100%;
    max-width: 400px;
    height: 580px;
}

.index button {
    font-weight: bold;
}

.index p {
    width: 30%;
}

.overlay {
    --margin: 30px;

    display: none;

    position: absolute;
    box-sizing: border-box;
    top: var(--margin);
    right: var(--margin);
    bottom: var(--margin);
    left: var(--margin);
    padding: 20px;

    background: #eeeeeeee;
}

.overlay h2 {
    font-size: 20px;
}

.overlay h3 {
    font-size: 16px;
}

.overlay h2,
.overlay h3,
.overlay p {
    margin: 10px 0;
}

.visible {
    display: block;
}